<main>
  <form method="POST" action="/">
    <input placeholder='name' name='name' type='text'>
    <input placeholder='message' name='message' type='text'>
    <button type="submit">Submit</button>
  </form>
</main>
