.static2{
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 2.7/1;
    background: #03DAC5;

    p{
        text-align: center;
        font-size: 34px;
        color: white;
        letter-spacing: 3.4px;
    }
}